apiVersion: apps/v1
kind: Deployment
metadata:
  name: joboonja-back-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: joboonja-back
  template:
    metadata:
      labels:
        app: joboonja-back
    spec:
      containers:
        - image: soltanloo/joboonja-back:latest
          imagePullPolicy: Always
          name: joboonja-back
          ports:
            - containerPort: 8080
          resources:
              limits:
                memory: "250Mi"
                cpu: "250m"
              requests:
                memory: "250Mi"
                cpu: "250m"
